@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
    <!-- Agrega el enlace al archivo CSS de Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <!-- Columna para el logotipo (6 columnas de ancho en dispositivos grandes) -->
            <div class="col-lg-6">
                <!-- Aquí puedes agregar tu logotipo o imagen -->
                <img src="https://www.mangaabogados.com/uploads/bNmsNf2A/abogados-manga-gabinete-juridico-manga-banner-2.jpg" alt="Logotipo" class="img-fluid" style="max-width: 500px; height: 250px;">
            </div>
            <!-- Columna para el texto (6 columnas de ancho en dispositivos grandes) -->
            <div class="col-lg-6 text-center">
                <h1>Bienvenido al Sistemita Escolar!</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut orci non ligula tincidunt ultricies.</p>
                <p>¡Explore nuestras opciones y descubra más!</p>
                <!-- Puedes agregar enlaces u otros elementos aquí -->
            </div>
        </div>
    </div>

    <!-- Agrega los scripts de Bootstrap y jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
