@model Web.Models.CursosInscrito

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CursosInscrito</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCursoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCursoNavigation.IdCurso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstudianteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEstudianteNavigation.IdEstudiante)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdInscripcion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
